{
  "extends": [

  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
